/* Define the top-level layout structure */
.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* --- MAIN CONTENT --- */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.content {
    flex: 1;
    padding: 1em;
    overflow-y: auto;
}

.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}



/* Note: Mobile collapsed logic is handled via body.collapsed class in styles.scss */