<header class="header">
    <div style="display:flex; align-items:center;">
        <i class="ri-menu-fold-line menu-btn" (click)="onMenuToggle()"></i>
        <h3 style="font-size: 16px; font-weight: 600;">{{ currentPageTitle$ | async }}</h3>
    </div>

    <div class="search-container">
        <i class="ri-search-line search-icon"></i>
        <input type="text" class="search-input" placeholder="Search...">
    </div>

    <!-- <div class="header-actions">
      <button (click)="onThemeToggle()">
        <i [ngClass]="(isDarkMode$ | async) ? 'ri-sun-line' : 'ri-moon-line'"></i>
      </button>
    </div> -->
    <button class="header-actions" (click)="logOut()"
                style="padding: 6px 15px; border: 1px solid var(--primary); border-radius: 5px; background: var(--primary-bg); color: var(--primary); cursor: pointer;">Log
                out</button>
</header>