<div class="card">
    <h2 style="margin-bottom: 15px;">{{projectDetails?.project_title}}</h2>
    <!-- Responsive Tabs Structure -->
    <div class="tabs-wrapper">
        <!-- Visible Tabs Area -->
        <div class="tab-list" id="tab-list">
            <div class="tab-item" data-id="dashboard" (click)="setActiveTab('dashboard')">Dashboard</div>
            <div class="tab-item" data-id="tasks" (click)="setActiveTab('tasks')">Tasks</div>
            <div class="tab-item" data-id="users" (click)="setActiveTab('users')">Users</div>
            <div class="tab-item" data-id="reports" (click)="setActiveTab('reports')">Reports</div>
            <div class="tab-item" data-id="phases" (click)="setActiveTab('phases')">Phases</div>
            <div class="tab-item" data-id="time-logs" (click)="setActiveTab('time-logs')">Time Logs</div>
            <div class="tab-item" data-id="timesheet" (click)="setActiveTab('timesheet')">Timesheet</div>
            <div class="tab-item" data-id="documents" (click)="setActiveTab('documents')">Documents</div>
            <div class="tab-item" data-id="issues" (click)="setActiveTab('issues')">Issues</div>

        </div>

        <!-- "More" Button & Dropdown -->
        <div class="tab-more" id="tab-more">
            <i class="ri-more-fill"></i>
            <div class="more-dropdown" id="more-dropdown">

            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="activeProjectTab">

        <app-dashboard *ngSwitchCase="'dashboard'"></app-dashboard>
        <app-tasks *ngSwitchCase="'tasks'"></app-tasks>
        <app-users *ngSwitchCase="'users'"></app-users>
        <app-reports *ngSwitchCase="'reports'"></app-reports>
        <app-phases *ngSwitchCase="'phases'"></app-phases>
        <app-time-logs *ngSwitchCase="'time-logs'"></app-time-logs>
        <app-timesheet *ngSwitchCase="'timesheet'"></app-timesheet>
        <app-documents *ngSwitchCase="'documents'"></app-documents>
        <app-issues *ngSwitchCase="'issues'"></app-issues>

        <div *ngSwitchDefault>Select a tab</div>
    </ng-container>

</div>