<div style="margin-bottom: 15px; font-size: 15px;">
    <app-table-filter style="margin-bottom: 1em;" (toggleSideTab)="toggleSideTab($event)" [btntext]="'task'"
        (selectionChange)="onViewSelected($event)" [viewOptions]="viewOptions"></app-table-filter>
    <div class="theme-grid" style="padding-top: 1em;">
        <div class="tabulator-table-task"></div>
    </div>
</div>

<div class="filter-backdrop" *ngIf="isFilterOpen" (click)="toggleSideTab()"></div>

<div class="filter-drawer" [class.open]="isFilterOpen">

    <div class="drawer-header">
        <div class="header-content">
            <h1>{{ isEditMode ? 'Update Task' : 'Create New Task' }}</h1>
            <p>
                {{ isEditMode
                ? 'Modify task details, assignments, and deadlines'
                : 'Define the task scope, timeline, and assign team members' }}
            </p>
        </div>

        <button class="icon-btn close-btn" (click)="toggleSideTab()">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>

    <div class="drawer-content">
        <!-- Main Scrollable Content -->
        <div class="page-container">
            <form [formGroup]="taskForm" class="main-form">

                <!-- SECTION 1: Project Essentials -->
                <section class="form-section">
                    <h2 class="section-title">Task Details</h2>

                    <div class="fields-grid">
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Project Title <span class="required">*</span></label>
                                <div class="select-wrapper">
                                    <select formControlName="projectid">
                                        <option [ngValue]="null" disabled>Select Manager</option>
                                        <option *ngFor="let m of projectList" [value]="m.id">{{ m.project_title }}
                                        </option>
                                    </select>
                                    <svg class="select-arrow" viewBox="0 0 24 24">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="error-msg"
                                    *ngIf="rf.projectid?.invalid && (rf.projectid?.dirty || rf.projectid?.touched)">
                                    Project Title is required.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div style="position: relative;">
                                <label>Application Type <span class="required">*</span></label>
                                <div class="select-wrapper">
                                    <select formControlName="app_type">
                                        <option [ngValue]="null" disabled>Select App Type</option>
                                        <option *ngFor="let m of apppTypeList" style="margin-bottom: 10px;"
                                            [value]="m.id">
                                            {{ m.type }}
                                        </option>
                                    </select>
                                    <svg class="select-arrow" viewBox="0 0 24 24">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="error-msg"
                                    *ngIf="rf.app_type?.invalid && (rf.app_type?.dirty || rf.app_type?.touched)">
                                    Application Type is required.
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Task Type <span class="required">*</span></label>
                                <div class="select-wrapper">
                                    <select formControlName="task_type">
                                        <option [ngValue]="null" disabled>Select Task Type</option>
                                        <option value="Requirement">
                                            Requirement
                                        </option>
                                        <option value="Bug">Bug</option>

                                    </select>
                                    <svg class="select-arrow" viewBox="0 0 24 24">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="error-msg"
                                    *ngIf="rf.task_type?.invalid && (rf.task_type?.dirty || rf.task_type?.touched)">
                                    Task type is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group full-width-desktop">
                            <div style="position: relative;">
                                <label>Task <span class="required">*</span></label>
                                <textarea formControlName="task" rows="4"
                                    placeholder="Describe the goals..."></textarea>
                                <div class="error-msg" *ngIf="rf.task?.invalid && (rf.task?.dirty || rf.task?.touched)">
                                    Task is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Priority <span class="required">*</span></label>
                                <div class="select-wrapper">
                                    <select formControlName="priority">
                                        <option [ngValue]="null" disabled>Select Priority</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                    <svg class="select-arrow" viewBox="0 0 24 24">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="error-msg"
                                    *ngIf="rf.priority?.invalid && (rf.priority?.dirty || rf.priority?.touched)">
                                    priority is required.
                                </div>
                            </div>
                        </div>

                        <!-- Start Date -->
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Start Date <span class="required">*</span></label>
                                <input type="date" formControlName="start_date">
                                <div class="error-msg"
                                    *ngIf="rf.start_date?.invalid && (rf.start_date?.dirty || rf.start_date?.touched)">
                                    Start Date is required.
                                </div>
                            </div>
                        </div>

                        <!-- End Date -->
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>End Date <span class="required">*</span></label>
                                <input type="date" formControlName="end_date">
                                <div class="error-msg"
                                    *ngIf="rf.end_date?.invalid && (rf.end_date?.dirty || rf.end_date?.touched)">
                                    End Date is required.
                                </div>
                            </div>
                        </div>

                        <!-- Manager -->
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Assignee <span class="required">*</span></label>
                                <div class="select-wrapper">
                                    <select formControlName="assigned_to">
                                        <option [ngValue]="null" disabled>Select Assignee</option>
                                        <option *ngFor="let m of employeeList" [value]="m.id">{{ m.employee_name }}
                                        </option>
                                    </select>
                                    <svg class="select-arrow" viewBox="0 0 24 24">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="error-msg"
                                    *ngIf="rf.assigned_to?.invalid && (rf.assigned_to?.dirty || rf.assigned_to?.touched)">
                                    Assignee is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Status <span class="required">*</span></label>
                                <div class="select-wrapper">
                                    <select formControlName="status">
                                        <option [ngValue]="null" disabled>Select Status</option>
                                        <option *ngFor="let status of statusList" [value]="status"> {{status}}</option>
                                    </select>
                                    <svg class="select-arrow" viewBox="0 0 24 24">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="error-msg"
                                    *ngIf="rf.status?.invalid && (rf.status?.dirty || rf.status?.touched)">
                                    Status is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Release Version <span class="required">*</span></label>
                                <input type="text" formControlName="version" placeholder="e.g. v1.0.0">
                                <div class="error-msg"
                                    *ngIf="rf.version?.invalid && (rf.version?.dirty || rf.version?.touched)">
                                    Version is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="divider">
                <!-- SECTION 3: Settings -->
                <section class="form-section">
                    <h2 class="section-title">Additional Details</h2>

                    <div class="fields-grid">
                        <div class="form-group full-width-desktop">
                            <div style="position: relative;">
                                <label>Description <span class="required">*</span></label>
                                <textarea formControlName="description" rows="4"
                                    placeholder="Describe the project goals..."></textarea>
                                <div class="error-msg"
                                    *ngIf="rf.description?.invalid && (rf.description?.dirty || rf.description?.touched)">
                                    Description is required.
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>
                </section>

            </form>
        </div>

        <!-- Sticky Footer -->
        <div class="drawer-footer">
            <div class="header-actions">
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Save Project</button>
            </div>
        </div>
    </div>

</div>