/* --- 1. VARIABLES --- */
:root {

    --bg-body: #F9FAFB;
    --surface: #FFFFFF;
    --text-main: #111827;
    --text-muted: #6B7280;
    --border: #E5E7EB;
    --primary: #2563EB;
    // --primary-bg: #E0E7FF;
    --primary-bg: #ffffff;
    --accent: #2563EB;

    /* Shadows and Layout (Shared) */
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 15px 30px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 30px 60px rgba(0, 0, 0, 0.2);
    --sidebar-w: 260px;
    --sidebar-mini: 90px;

    --radius: 12px;

    --pattern-color: #E5E7EB;
}

body.dark-mode {
    --bg-body: #0E101A;
    --surface: #1E293B;
    --text-main: #FFFFFF;
    --text-muted: #94A3B8;
    --border: #334155;
    --primary: #60A5FA;
    --primary-bg: #1E40AF;
    --accent: #60A5FA;

    --shadow-lg: 0 15px 30px rgba(0, 0, 0, 0.5);
}


body.theme-light-forest {
    --primary: #059669;
    --primary-bg: #ffffff;
    --bg-body: #F0FDF4;
    --text-main: #164E63;
    --accent: #059669;
}

body.theme-light-teal {
    --primary: #14B8A6;
    --primary-bg: #ffffff;
    --bg-body: #F9FAFB;
    --text-main: #1F2937;
    --accent: #14B8A6;
}

body.theme-light-indigo {
    --primary: #5C6BC0;
    --primary-bg: #ffffff;
    --bg-body: #F4F7F9;
    --text-main: #212121;
    --accent: #5C6BC0;
}

body.theme-light-mono {
    --primary: #1F2937;
    --primary-bg: #ffffff;
    --bg-body: #FFFFFF;
    --text-main: #111827;
    --accent: #1F2937;
}

body.theme-light-earthy {
    --primary: #FF7043;
    --primary-bg: #ffffff;
    --bg-body: #FFFDF9;
    --text-main: #3E2723;
    --accent: #FF7043;
}


body.dark-mode.theme-dark-original {
    --bg-body: #0E101A;
    --surface: #1E293B;
    --text-main: #FFFFFF;
    --text-muted: #94A3B8;
    --border: #334155;
    --primary: #60A5FA;
    --primary-bg: #1E40AF;
    --accent: #60A5FA;

}

body.dark-mode.theme-dark-forest {
    --bg-body: #101E2B;
    --surface: #1C3545;
    --text-main: #E0F2F1;
    --text-muted: #94A3B8;
    --border: #374151;
    --primary: #10B981;
    --primary-bg: #064E3B;
    --accent: #34D399;
}

body.dark-mode.theme-dark-teal {
    --bg-body: #1F2937;
    --surface: #2C394B;
    --text-main: #FFFFFF;
    --text-muted: #9AAABF;
    --border: #4D5869;
    --primary: #4DB6AC;

    --primary-bg: #143657;
    --accent: #4DB6AC;
}


body.dark-mode.theme-dark-mono {
    --bg-body: #0D1117;
    --surface: #161B22;
    --text-main: #F0F6FC;
    --text-muted: #8B949E;
    --border: #30363D;
    --primary: #b8d9ff;
    --primary-bg: #1A3E6E;
    --accent: #30363D;
}

body.dark-mode.theme-dark-earthy {
    --bg-body: #28242A;
    --surface: #3C363C;
    --text-main: #FDF4E3;
    --text-muted: #C7C0B2;
    --border: #575154;
    --primary: #FF7043;
    --primary-bg: #573024;
    --accent: #FF7043;
}


body.dark-mode.theme-dark-indigo {
    --bg-body: #1F2937;
    --surface: #2E3A4A;
    --text-main: #F5F5F5;
    --text-muted: #A0AEC0;
    --border: #4A5568;
    --primary: #5C6BC0;

    --primary-bg: #37475a;
    --accent: #5C6BC0;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    // font-family: 'Inter', sans-serif;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background: var(--bg-body);
    color: var(--text-main);
    // display: flex;
    overflow: hidden;
    transition: background 0.3s, color 0.3s;

   
}

body.collapsed .sidebar {
    width: var(--sidebar-mini);
}

@media (max-width: 768px) {

    body.collapsed .sidebar {
        width: 250px !important;
    }
}


